<mat-spinner class="position-absolute" diameter="30" *ngIf="loading"></mat-spinner>
<div class="container">
  <mat-card>
    <h2 mat-card-title>Login</h2>
    <p mat-card-subtitle>Faça login com sua conta</p>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <mat-form-field class="full-width">
        <mat-label>Usuário</mat-label>
        <input type="text" formControlName="username" placeholder="Digite seu nome de usuário" matInput />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input type="password" formControlName="password" placeholder="Digite sua senha" matInput />
      </mat-form-field>

      <mat-card-actions align="end">
        <a routerLink="/" mat-button mat-raised-button>Voltar</a>
        <button mat-button mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </form>
    <button mat-button mat-raised-button color="primary" (click)="loginWithFacebook()" class="mr">
      Login com Facebook
    </button>

    <button mat-button mat-raised-button color="primary" (click)="loginWithGoogle()" class="mr">
      Login com Google
    </button>

    <button disabled mat-button mat-raised-button color="primary" (click)="loginWithApple()">
      Login com Apple
    </button>
  </mat-card>
</div>