.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(6, 6, 6, 0.6);
}

body {
  .mat-dialog-container {
    border-radius: 16px;
  }

  .mat-button-base:not(.mat-fab, .mat-mini-fab) {
    border-radius: 8px;
  }
  .mat-card {
    .mat-step {
      border-radius: 4px;
      overflow: hidden;
    }
  }

  .mat-menu-trigger.mat-button-base {
    text-transform: capitalize;
  }

  .mat-button-base {
    .mat-icon + span:not(:empty) {
      margin-left: 8px;
    }
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-menu-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .mat-menu-content {
      padding-top: 0;
    }
  }

  .mat-toolbar {
    .mat-button {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .brand-name {
      width: 32px;
      max-height: 32px;
    }

    transition: margin-top 1s ease-in-out;

    &.is-hand-land {
      margin-top: -56px;
    }
    &.is-hand-port {
      position: sticky;
      bottom: 0px;
    }
  }
}

.is-hand-port mat-toolbar > span.brand-name {
  max-width: 100px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
.is-hand-port button > span.mat-button-wrapper > span {
  max-width: 60px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

// .is-hand-land .mat-toolbar:first-child {
//   position: fixed;
//   top: 0px;
// }
// .is-hand-port .mat-toolbar:first-child {
//   position: fixed;
//   bottom: 0px;
// }

// body .mat-expansion-panel {
//   background-color: #212121;
// }
body .mat-expansion-panel-body {
  padding: 0 12px;
}
