$dark-palette: (
  50: #e4e4e4,
  100: #bcbcbc,
  200: #909090,
  300: #646464,
  400: #424242,
  500: #212121,
  600: #1d1d1d,
  700: #181818,
  800: #141414,
  900: #0b0b0b,
  A100: #e76c6c,
  A200: #e04040,
  A400: #ec0000,
  A700: #d30000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$orange-palette: (
  50: #fff2e6,
  100: #ffdfc1,
  200: #ffc998,
  300: #feb36e,
  400: #fea34f,
  500: #fe9330,
  600: #fe8b2b,
  700: #fe8024,
  800: #fe761e,
  900: #fd6413,
  A100: #ffffff,
  A200: #fffaf8,
  A400: #ffd7c5,
  A700: #ffc5ac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$green-palette: (
  50: #e4fae6,
  100: #bbf2c0,
  200: #8eea97,
  300: #61e16d,
  400: #3fda4d,
  500: #1dd42e,
  600: #1acf29,
  700: #15c923,
  800: #11c31d,
  900: #0ab912,
  A100: #e5ffe5,
  A200: #b2ffb4,
  A400: #7fff82,
  A700: #65ff6a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-green-palette: (
  50: #e6ffe8,
  100: #c1ffc7,
  200: #98ffa1,
  300: #6fff7b,
  400: #50ff5f,
  500: #31ff43,
  600: #2cff3d,
  700: #25ff34,
  800: #1fff2c,
  900: #13ff1e,
  A100: #ffffff,
  A200: #fafffa,
  A400: #c7ffc9,
  A700: #adffb0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
